CERTEUROPE_SIGN_API_URL="https://your_sandbox.certeurope.fr"
CERTEUROPE_SIGN_API_CERTIFICATE="-----BEGIN CERTIFICATE-----
...
-----END CERTIFICATE-----"
CERTEUROPE_SIGN_API_KEY="-----BEGIN RSA PRIVATE KEY-----
...
-----END RSA PRIVATE KEY-----
"
