CERTEUROPE_SIGN_API_URL="https://your_sandbox.certeurope.fr"
CERTEUROPE_SIGN_API_CERTIFICATE="-----BEGIN CERTIFICATE-----\n...\n-----END CERTIFICATE-----\n"
CERTEUROPE_SIGN_API_KEY="-----BEGIN RSA PRIVATE KEY-----\n...\n-----END RSA PRIVATE KEY-----\n"
